
/*NORMALIZE STYLES*/
*{padding: 0; margin: 0;}
body, html, #container{height: 100%;font-size: 100%; font-family: 'Montserrat', sans-serif; /*background-color: #D9C37F*/ background-color: black ; color: rgba(127,255,255,0.75); text-align: center;overflow-x:hidden;}
a{text-decoration: none;color: black;}
li{list-style-type: none;}
/*end*/



/*TITLES*/
header h1{font-size: 6em;width: 100%; animation-delay:0.1s; -webkit-animation-delay:0.1s;}
header h2{position: relative;top: -100px;width: 100%;font-size: 6em; animation-delay:0.4s; -webkit-animation-delay:0.4s;}
.element{width: 100px; height: 120px; display: inline-block; box-shadow: 0px 0px 12px rgba(0,255,255,0.5); border: 1px solid rgba(127,255,255,0.25); color: rgba(255,255,255,0.75); cursor: pointer; transition: all 0.3s ease; padding-left: 2px; position: relative;}
.element:hover{ box-shadow: 0px 0px 12px rgba(0,255,255,0.75); border: 1px solid rgba(127,255,255,0.75);}
header h2 span:nth-child(1){top: 10px; background-color: rgba(0,127,127, 0.4);}
header h2 span:nth-child(1):hover{top: 15px;}
header h2 span:nth-child(2){top: 20px; background-color: rgba(0,127,127, 0.8);}
header h2 span:nth-child(2):hover{top: 25px;}
header h2 span p{position: absolute;font-size: 0.2em}
#container #top-head h3{ -webkit-animation-delay:0.9s; animation-delay:0.9s; font-size: 1.3em; position: relative; width: 100%; top: 0px;}
/*end*/



/*CONTAINER*/
#main-content{width: 500px;height: 500px; border-radius: 50%; position: relative; top:50px; margin: auto; box-shadow: 1px 1px 12px rgba(0,255,255,0.5); border: 3px solid rgba(127,255,255,0.25); background-color: black; z-index: 10; opacity: 0.8; transition: all .4s ease; animation-delay:1.3s; -webkit-animation-delay:1.3s; margin-bottom: 50px;}
#main-content:hover{cursor: pointer; background-color: rgba(0,127,127, 0.1); box-shadow: 1px 1px 25px rgba(0,255,255,0.8);}
#main-content #nucleo{width: 60%; position: relative; margin: auto; height: 100%; transition: all .3s ease; z-index: 10; animation-delay:1.8s; -webkit-animation-delay:1.8s;}
#main-content:hover #nucleo{ transform:scale(0.7); opacity: 0.5}
#main-content nav{ width: 100%; position: absolute; top: 0px; height: 100%; text-align: center;}
#main-content nav h3{ width: 20%; margin: 50px auto;transform: scale(0); transition-property: transform, padding-bottom;transition-delay:0s, 0.05s;  transition-duration:0.3s, 0.3s;transition-timing-function: ease, ease; border-bottom: rgba(127,255,255,0.75) solid 4px;font-size: 2em;}
#main-content nav a { z-index: 999999; display: block; margin: 25px 0px; position: relative; top: 40px; opacity: 0; transition: all .3s ease; color: rgba(255,255,255,0.7);}
#main-content nav a:hover{color: white;text-shadow: 2px 2px 15px rgba(127,255,255,0.75);transform: scale(1.2);}
/*end*/



/*RESULTS*/
#main-content article{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; text-align: justify; line-height: 1.5;z-index: 999;}
#switch-result{ width: 90%; margin: 30px auto; color: white; animation-delay:0.7s; -webkit-animation-delay:0.7s;}
#main-content article h3{text-align: left; width: 90%; margin: 30px auto; font-size: 2em; animation-delay:0.5s; -webkit-animation-delay:0.5s;}
#switch{width: 90%; margin: auto; text-align: center; z-index: 999;}
/*end*/





/*ABOUT*/
#switch div.circle{width: 150px; height: 150px; border-radius: 50%; display: inline-block; margin: 40px 30px; z-index: 999; }
#switch section#acerca div:nth-child(1){ background: url(../img/bebe.jpg); background-size: cover; background-position: center center; animation-delay:0.8s; -webkit-animation-delay:0.8s}
#switch section#acerca div:nth-child(2){ background: url(../img/medio.jpg); background-size: cover; background-position: center center; animation-delay:1s; -webkit-animation-delay:1s}
#switch section#acerca div:nth-child(3){ background: url(../img/selfie.jpg); background-size: cover; background-position: center center; animation-delay:1.2s; -webkit-animation-delay:1.2s}
/*end*/



/*PORTFOLIO*/

#portfolio{
    animation-delay:1s;
  -webkit-animation-delay:1s;
}

.item{
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  background-color: white;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 15px rgba(0,255,255,0.8);
  position: relative;
  overflow: hidden;
  animation-delay:1s;
  -webkit-animation-delay:1s;
}

.item .imageText{
  background-color: black;
  color: white;
  position: absolute;
  bottom: -65px;
  width: 100%;
  height: 100px;
  transition: all .3s ease;
  padding-top: 5px;
}

.item .imageText h2{
  font-size: 1.2em;
}

.item .imageText p{
  font-size: 0.7em;
}

.item:hover .imageText{
  bottom: 0px;
}

.item:hover{
  box-shadow: 1px 1px 30px rgba(0,255,255,0.8);
  transform: scale(1.02);
  cursor: pointer;
}

.circle{
  transition: all 0.3s ease;
  box-shadow: 1px 1px 15px rgba(0,255,255,0.8);
}

.circle:hover{
   background-color: rgba(0,127,127, 0.1);
  box-shadow: 1px 1px 30px rgba(0,255,255,0.8);
  transform: scale(1.1);
  cursor: pointer;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}


#switch section#portfolio div:nth-child(1){
  background: url(../img/lions.jpg);
  background-size: cover;
  background-position: top center;
   animation-delay:1.1s;
  -webkit-animation-delay:1.1s;
}

#switch section#portfolio div:nth-child(2){
  background: url(../img/bertone.jpg);
  background-size: cover;
  background-position: center left;
   animation-delay:1.3s;
  -webkit-animation-delay:1.3s;
}

#switch section#portfolio div:nth-child(3){
   animation-delay:1.5s;
  -webkit-animation-delay:1.5s;

}


#switch section#portfolio div:nth-child(4){
   animation-delay:1.7s;
  -webkit-animation-delay:1.7s;

}


#contact_right{
  
  width: 100%;
  text-align: left;
  position: relative;
  top: -30px;
}


#contact_right form div{
  margin-top: 20px;
}

#contact_right form input, #contact_right form textarea{
  width: 100%;
  background-color: rgba(0,127,127, 0.1);
  border: none;
  height: 30px;
  transition: all .3s ease;
  color: white;

}

#contact_right form input:focus, #contact_right form textarea:focus{
  background-color: rgba(0,127,127, 0.4);
  box-shadow: 1px 1px 15px rgba(0,255,255,0.8);
  font-weight: bold;
  font-size: 1.2em;
}

#contact_right form textarea{
  height: 90px;
}

#contact_right form input#button{
  width: 20%;
  float: right;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.3em;
  cursor: pointer;
  box-shadow: 1px 1px 15px rgba(0,255,255,0.8);
}







  #main-menu{
    position: relative;
    top: 40px;
    width: 100%;
    z-index: 99999;
    
      
  }

  #main-menu nav a {
    color: rgba(255,255,255,0.7);
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    transition: all 0.3s ease;
  }


  #main-menu nav a:hover{
    color: white;
    text-shadow: 2px 2px 15px white;
  }




/*DNA IDEA*/
/*Thanks to: IANCOATES http://css-tricks.com/forums/users/iancoates/ 
*Thanks to CSS-TRICKS too for the post:
*Link: http://jsbin.com/exuxaj/15
*Post: http://css-tricks.com/forums/topic/dna-css-animation/;
*/

#one,#two,#three,#four,#five,#six,#onex,#twox,#threex,#fourx,#fivex,#sixx,#seven,#eight,#nine,#ten,#eleven,#twelve,#thirt,#fourt,#sevenx,#eightx,#ninex,#tenx,#elevenx,#twelvex,#thirtx,#fourtx{position: absolute; color: white}
#onex,#twox,#threex,#fourx,#fivex,#sixx,
#sevenx,#eightx,#ninex,#tenx,#elevenx,#twelvex,#thirtx,#fourtx{color: rgba(0,127,127, 0.4);}
#one,#onex{top:15%; left: 40%;}
#two,#twox{top:20%; left: 60%;}
#three,#threex{top:25%; left: 40%;}
#four,#fourx{top:30%; left: 60%;}
#five,#fivex{top:35%; left: 40%;}
#six,#sixx{top:40%; left: 60%;}
#seven,#sevenx{top:45%; left: 40%;}
#eight,#eightx{top:50%; left: 60%;}
#nine,#ninex{top:55%; left: 40%;}
#ten,#tenx{top:60%;left: 60%;}
#eleven,#elevenx{top:65%; left: 40%;}
#twelve,#twelvex{top:70%; left: 60%;}
#thirt,#thirtx{top:75%; left: 40%;}
#fourt,#fourtx{top:80%; left: 60%;}

#one,#nine{
    -webkit-animation: one 4s infinite;
    -moz-animation: one 4s infinite;
    animation: one 4s infinite;
  }
#onex,#ninex{
    -webkit-animation: onex 4s 2s infinite;
    -moz-animation: onex 4s 2s infinite;
    animation: onex 4s 2s infinite;
  }
  
#two,#ten{
    -webkit-animation: one 4s 0.5s infinite;
    -moz-animation: one 4s 0.5s infinite;
    animation: one 4s 0.5s infinite;
  }
#twox,#tenx{
    -webkit-animation: onex 4s 2.5s infinite;
    -moz-animation: onex 4s 2.5s infinite;
    animation: onex 4s 2.5s infinite;
  }
  
#three,#eleven{
    -webkit-animation: one 4s 1s infinite;
    -moz-animation: one 4s 1s infinite;
    animation: one 4s 1s infinite;
  } 
#threex,#elevenx{
    -webkit-animation: onex 4s 3s infinite;
    -moz-animation: onex 4s 3s infinite;
    animation: onex 4s 3s infinite;
  }
  
#four,#twelve{
    -webkit-animation: one 4s 1.5s infinite;
    -moz-animation: one 4s 1.5s infinite;
    animation: one 4s 1.5s infinite;
  }
#fourx,#twelvex{
    -webkit-animation: onex 4s 3.5s infinite;
    -moz-animation: onex 4s 3.5s infinite;
    animation: onex 4s 3.5s infinite;
  }
  
#five,#thirt{
    -webkit-animation: one 4s 2s infinite;
    -moz-animation: one 4s 2s infinite;
    animation: one 4s 2s infinite;
  }
#fivex,#thirtx{
    -webkit-animation: onex 4s infinite;
  -moz-animation: onex 4s infinite;
  animation: onex 4s infinite;
  }
  
#six,#fourt{
    -webkit-animation: one 4s 2.5s infinite;
    -moz-animation: one 4s 2.5s infinite;
    animation: one 4s 2.5s infinite;
  }
#sixx,#fourtx{
    -webkit-animation: onex 4s 0.5s infinite;
    -moz-animation: onex 4s 0.5s infinite;
    animation: onex 4s 0.5s infinite;
  }  
  
#seven{
    -webkit-animation: one 4s 3s infinite;
    -moz-animation: one 4s 3s infinite;
    animation: one 4s 3s infinite;
  }
#sevenx{
    -webkit-animation: onex 4s 1s infinite;
    -moz-animation: onex 4s 1s infinite;
    animation: onex 4s 1s infinite;
  } 
  
#eight{
    -webkit-animation: one 4s 3.5s infinite;
  -moz-animation: one 4s 3.5s infinite;
  animation: one 4s 3.5s infinite;
  }

#eightx{
    -webkit-animation: onex 4s 1.5s infinite;
    -moz-animation: onex 4s 1.5s infinite;
    animation: onex 4s 1.5s infinite;
  }  
    
@-webkit-keyframes one{
    0%   { left:40%;  z-index: 0; -webkit-transform: scale(1); transform: scale(1);}
    25%  { -webkit-transform: scale(2); transform: scale(2); }
    50%  { left:60%; z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
    75%  { -webkit-transform: scale(0.5); transform: scale(0.5); }
    100% { left:40%;  z-index: 0; -webkit-transform: scale(1); transform: scale(1);}
  }
  
@-webkit-keyframes onex{
    0%   { left:40%;  z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
    25%  { -webkit-transform: scale(2);transform: scale(2) }
    50%  { left:60%; z-index: 0; -webkit-transform: scale(1); transform: scale(1)}
    75%  { -webkit-transform: scale(0.5); transform: scale(0.5)}
    100% { left:40%;  z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
  }
  
@-moz-keyframes one{
     0%   { left:40%;  z-index: 0; -webkit-transform: scale(1); transform: scale(1);}
    25%  { -webkit-transform: scale(2); transform: scale(2); }
    50%  { left:60%; z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
    75%  { -webkit-transform: scale(0.5); transform: scale(0.5); }
    100% { left:40%;  z-index: 0; -webkit-transform: scale(1); transform: scale(1);}
  }
  
@-moz-keyframes onex{
       0%   { left:40%;  z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
    25%  { -webkit-transform: scale(2);transform: scale(2) }
    50%  { left:60%; z-index: 0; -webkit-transform: scale(1); transform: scale(1)}
    75%  { -webkit-transform: scale(0.5); transform: scale(0.5)}
    100% { left:40%;  z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
  }  

@keyframes one{
      0%   { left:40%;  z-index: 0; -webkit-transform: scale(1); transform: scale(1);}
    25%  { -webkit-transform: scale(2); transform: scale(2); }
    50%  { left:60%; z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
    75%  { -webkit-transform: scale(0.5); transform: scale(0.5); }
    100% { left:40%;  z-index: 0; -webkit-transform: scale(1); transform: scale(1);}
  }
  
@keyframes onex{
     0%   { left:40%;  z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
    25%  { -webkit-transform: scale(2);transform: scale(2) }
    50%  { left:60%; z-index: 0; -webkit-transform: scale(1); transform: scale(1)}
    75%  { -webkit-transform: scale(0.5); transform: scale(0.5)}
    100% { left:40%;  z-index: 2; -webkit-transform: scale(1); transform: scale(1)}
  }